# Ignore pycache,fasttext_model,.bin,.zip,.vec,.csv files

__pycache__/
fasttext_model/
*.bin
*.zip
*.vec
*.csv
*.pth
*.xlsx

# just include electronics_small.csv
!electronics_validation.csv


# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
